IDEAMART = ''
MSPACE = ''
IMG_URL = 'assets\images\Girl in a orange tee and blue jeans.jpeg'
IMG_ALT = 'Girl in a orange tee and blue jeans'
CHARGE = 'Dialog, Hutch, Airtel & Mobitel Daily Rs 10+tax'
PIXEL_ID = 
FBCAPI_TOKEN = ''
TEST_EVENT = TEST9546
